{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post" >
      <div class="form-group">
        <select class="form-control" name="name">
        <option selected disabled>Symbol</option>
        {% for r in row %}
            <option value="{{r['name']}}">{{r['name']}}</option>
        {% endfor %}
      </select>
      </div>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="number" placeholder="number" type="number">
    </div>
      <button type="submit" class="btn btn-primary">Sell</button>
    </form>

{% endblock %}
